.app-header {
  background-color: $clr1;
  color: var(--clr2);
  padding: 0.5em;
  // position: fixed;
  // top: 0;
  width: 100vw;
  margin-bottom: 20px;


  .app-header-nav {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    background-color: rgb(36, 35, 35);
    border-radius: 50%;
  }
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}