.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

// .toy-list li {
//     display: flex;
//     flex-direction: column;

// }