.homepage {

  // display: flex;
  .homepage-cover-img {
    // margin: 0;
    // width: 80vw;

  }

  h2 {
    font-size: 1.3rem;
    margin-top: 40px;
    font-family: PTSansCaption-Regular;
    text-align: center;
  }



}