.homepage {
  // display: flex;


  h1 {
    font-size: 10rem;
    margin-top: 300px;
  }

  .homepage-img-container {
    width: 30vw;
    position: fixed;
    right: 0px;
    top: 50px // margin-top: -60px;
      // margin-right: 50px;
  }
}